# Node
node_modules/
dist/
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Vite/React
client/node_modules/
client/dist/
client/.env
